/vendor/
/reports/
/coverage/
/.php-cs-fixer.cache
/.phpunit.cache/
/composer.lock


/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/shelf
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
