<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],

        /**
         * PSR-12 based on the official pull request on Github
         * @see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/4943/files#diff-1e418beac3b4a9cf60ecd4ca4e2975a8R59
         */
        'blank_line_after_opening_tag' => true,
        'braces' => [
            // Added in later version
            // 'allow_single_line_anonymous_class_with_empty_body' => true,
        ],
        'compact_nullable_typehint' => true,
        'declare_equal_normalize' => true,
        'lowercase_cast' => true,
        'lowercase_static_reference' => true,
        'new_with_braces' => true,
        'no_blank_lines_after_class_opening' => true,
        'no_leading_import_slash' => true,
        'no_whitespace_in_blank_line' => true,
        'ordered_class_elements' => [
            'order' => [
                'use_trait',
            ],
        ],
        'ordered_imports' => [
            'imports_order' => [
                'class',
                'function',
                'const',
            ],
            'sort_algorithm' => 'none',
        ],
        'return_type_declaration' => true,
        'short_scalar_cast' => true,
        'single_blank_line_before_namespace' => true,
        'single_trait_insert_per_statement' => true,
        'ternary_operator_spaces' => true,
        'visibility_required' => [
            'elements' => [
                'const',
                'method',
                'property',
            ],
        ],

        // More stricter rules than PSR-12
        'concat_space' => ['spacing' => 'one'],
        'method_argument_space' => ['on_multiline' => 'ensure_fully_multiline'],
        'no_empty_statement' => true,

        // Those rules are in discussion whether or not the PSR include these
        'function_typehint_space' => true,
        'no_leading_namespace_whitespace' => true,
    ])
    ->setFinder($finder)
    ;

